.content {
  position: relative;
  width: 100%;
  min-width: 360px;
  height: auto;
  .container {
    position: relative;
  }
}

@media only screen and (min-width: 1400px) {
  .content {
    padding-left: 480px;
  }
}

@media only screen and (min-width: 1200px) {
  .content {
    padding-left: 360px;
  }
}

@media only screen and (min-width: 992px) {
  .content {
    padding-left: 330px;
  }
}
