:root {
  --c-bg: #0c0c10;
  --c-text: #e9e9ee;
  --c-grad-1: #f7c0d5;
  --c-grad-2: #e4b5f5;
  --container: 1120px;
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
  --stroke-elements: #303033;
}
